<?xml version="1.0" encoding="UTF-8"?>  

<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:c="http://www.springframework.org/schema/c"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans.xsd">
             <!--   default-autowire="byName"> -->
               
    <!-- byType looked by class, if not found then injects null-->
	<!-- <bean id="studentbean" class="beans.Student" autowire="byType"/>
		<bean id="a1" class="beans.Address" p:blockNo="2" p:blockName="C"/>	 -->
	<!-- <bean id="a2" class="beans.Address" p:blockNo="1" p:blockName="B"/>--><!-- if uncomment then byType ambiguity -->
	<!-- <bean id="a2" class="beans.Address" p:blockNo="2" p:blockName="C" autowire-candidate="false"/>--><!-- if use autowire-candidate then ambiguity resolved-->
	

	<!-- byName no ambiguity as looked by id and class both..if not found then inject null-->
	<!--  <bean id="studentbean1" class="beans.Student" autowire="byName"/>
	<bean id="address" class="beans.Address" p:blockNo="2" p:blockName="C"/>
	<bean id="a2" class="beans.Address" p:blockNo="3" p:blockName="D"/>  -->
	
	<!-- autodetect depricated after from 3.0.xsd onwards-->
	
	<!-- Constructor internally byType...if ambiguity, called default constructor if exists with null injection otherwise call matching parameterized constructor -->
	<bean id="studentbean2" class="beans.Student" autowire="constructor"/>	
	<bean id="address1" class="beans.Address" p:blockNo="3" p:blockName="D"/>
	<bean id="address2" class="beans.Address" p:blockNo="4" p:blockName="E" autowire-candidate="false"/>
	
</beans>